.main{
    width: 100%;
    height: 900px;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: black;
    
}
.bg1{
    opacity: 40%;
}



.head{
    
    width: 100%;
    height: 50px;
    background-color: black;
    
    
}

body{
    margin: 0;
    
}

.text{
    position: absolute;
    top: 350px;
    right: 650px;
    
}

.head{
    position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.logo{
    
    transform: scale(.03);
    position: absolute;
    left: -1680px;
    top: -555px;
    
}
.play{
    width: 0%;
    color: rgb(235, 244, 244);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    left: 500px;
    transform: scale(.90);
    cursor: pointer;
}
.shop{
    width: 0%;
    color: rgb(235, 244, 244);
    font-family: Verdana,Geneva, Tahoma, sans-serif;
    position: absolute;
    left: 630px;
    transform: scale(.90);
    cursor: pointer;
}
.expo{
    width: 0%;
    color: rgb(235, 244, 244);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    left: 760px;
    transform: scale(.90);
    cursor: pointer;
}
.help{
    width: 0%;
    color: rgb(235, 244, 244);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    left: 920px;
    transform: scale(.90);
    cursor: pointer;
}
.ser{
    width: 0%;
    position: absolute;
    left: 77%;
    top: 30%;
}
.pro{
    
    transform: scale(.08);
    position: absolute;
    left: 1130px;
    top: -255px;
    cursor: pointer;
}


.text{
    position: static;
    color: azure;
    
    padding: 100px;
    position: absolute;
    right: 303px;
    top: 150px;
    text-align: center;
    line-break: unset;
    font-family: Ubisoft Sans Bold, sans-serif;

}
.text h1{
  text-shadow: 4px 4px 4px #646161;
}
.main2{
    width: 100%;
    height: 700px;
    overflow-x: hidden;
    background-color: rgb(221, 220, 220);
}
.headl{
    
    position: absolute;
    left: 580px;
    font-family: Ubisoft Sans Bold, sans-serif;
    font-style: black;
    transform: scale(1);
    
}
.section{
  position: relative;
  bottom: 10%;
  
}

.one{
width: 14%;
height: 350px;
background-color: rgb(246, 248, 248);
position: absolute;
left: -160px;
margin: 200px;
overflow: hidden;
cursor: pointer;
}
.text1{
    position: absolute;
    bottom: 1px;
    left: 30px;
    align-content: center;
    color: rgb(17, 16, 16);
    font-family: sans-serif;
    cursor: pointer;
}
.two{
    width: 14%;
    height: 350px;
    background-color: rgb(246, 248, 248);
    position: absolute;
    left: 90px;
    margin: 200px;
    overflow: hidden;
    cursor: pointer;
    }
    .text2{
        position: absolute;
        bottom: 1px;
        left: 30px;
        align-content: center;
        color: rgb(17, 16, 16);
        font-family: sans-serif;
        cursor: pointer;
    }
    .three{
        width: 14%;
        height: 350px;
        background-color: rgb(246, 248, 248);
        position: absolute;
        left: 340px;
        margin: 200px;
        overflow: hidden;
        cursor: pointer;
        }
        .text3{
            position: absolute;
            bottom: 1px;
            left: 30px;
            align-content: center;
            color: rgb(17, 16, 16);
            font-family: sans-serif;
            cursor: pointer;
        }
        .four{
            width: 14%;
            height: 350px;
            background-color: rgb(246, 248, 248);
            position: absolute;
            left: 590px;
            margin: 200px;
            overflow: hidden;
            cursor: pointer;
            }
            .text4{
                position: absolute;
                bottom: 1px;
                left: 30px;
                align-content: center;
                color: rgb(17, 16, 16);
                font-family: sans-serif;
                cursor: pointer;
            }
            .five{
                width: 14%;
                height: 350px;
                background-color: rgb(246, 248, 248);
                position: absolute;
                left: 840px;
                margin: 200px;
                overflow: hidden;
                cursor: pointer;
                }   
               .text5{
                position: absolute;
                bottom: 1px;
                left: 30px;
                align-content: center;
                color: rgb(17, 16, 16);
                font-family: sans-serif;
                cursor: pointer;
            }
                .six{
                    width: 14%;
                    height: 350px;
                    background-color: rgb(246, 248, 248);
                    position: absolute;
                    right: -180px;
                    margin: 200px;
                    overflow: hidden;
                    cursor: pointer;
                    }        
                    .text6{
                        position: absolute;
                        bottom: 1px;
                        left: 30px;
                        align-content: center;
                        color: rgb(17, 16, 16);
                        font-family: sans-serif;
                        cursor: pointer;
                    }      
                    
                    
                    .wrapper{
                        position: absolute;
                        top: 200%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                      }
                      
                      .link_wrapper{
                        position: relative;
                      }
                      
                      a{
                        display: block;
                        width: 250px;
                        height: 50px;
                        line-height: 50px;
                        font-weight: bold;
                        text-decoration: none;
                        background: #333;
                        text-align: center;
                        color: #fff;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        border: 3px solid #333;
                        transition: all .35s;
                      }
                      
                      .icon{
                        width: 50px;
                        height: 50px;
                        border: 3px solid transparent;
                        position: absolute;
                        transform: rotate(45deg);
                        right: 0;
                        top: 0;
                        z-index: -1;
                        transition: all .35s;
                      }
                      
                      .icon svg{
                        width: 30px;
                        position: absolute;
                        top: calc(50% - 15px);
                        left: calc(50% - 15px);
                        transform: rotate(-45deg);
                        fill: #c20909;
                        transition: all .35s;
                      }
                      
                      a:hover{
                        width: 200px;
                        border: 3px solid #b80909;
                        background: transparent;
                        color: #be0b0b;
                      }
                      
                      a:hover + .icon{
                        border: 3px solid #b30615;
                        right: -25%;
                      }

                      .wrap {
                        position: absolute;
                        left: 350px;
                        height: 130%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                      }
                      
                      .button {
                        min-width: 300px;
                        min-height: 60px;
                        font-family: 'Nunito', sans-serif;
                        font-size: 20px;
                        text-transform: uppercase;
                        letter-spacing: 1.3px;
                        font-weight: 700;
                        color: #f7f7fa;
                        background: #029e36;
                      background: linear-gradient(90deg, rgb(5, 163, 55) 0%, rgb(4, 146, 54) 100%);
                        border: none;
                        border-radius: 1000px;
                        box-shadow: 12px 12px 24px rgba(4, 159, 76, 0.64);
                        transition: all 0.3s ease-in-out 0s;
                        cursor: pointer;
                        outline: none;
                        position: relative;
                        padding: 10px;
                        }
                      
                      button::before {
                      content: '';
                        border-radius: 1000px;
                        min-width: calc(300px + 12px);
                        min-height: calc(60px + 12px);
                        border: 6px solid #f1f6f5;
                        box-shadow: 0 0 60px rgba(46, 40, 44, 0.64);
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        opacity: 0;
                        transition: all .3s ease-in-out 0s;
                      }
                      
                      .button:hover, .button:focus {
                        color: #313133;
                        transform: translateY(-6px);
                      }
                      
                      button:hover::before, button:focus::before {
                        opacity: 1;
                      }
                      
                      button::after {
                        content: '';
                        width: 30px; height: 30px;
                        border-radius: 100%;
                        border: 6px solid #00FFCB;
                        position: absolute;
                        z-index: -1;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        animation: ring 1.5s infinite;
                      }
                      
                      button:hover::after, button:focus::after {
                        animation: none;
                        display: none;
                      }
                      
                      @keyframes ring {
                        0% {
                          width: 30px;
                          height: 30px;
                          opacity: 1;
                        }
                        100% {
                          width: 300px;
                          height: 300px;
                          opacity: 0;
                        }
                      }
                      .main3{
                        position: relative;
                        width: 100%;
                        height: 1000px;
                        background-color: rgb(248, 245, 245);
                      }
                      .head2{
                        
                        position: absolute;
                        left: 650px;
                        font-size: xx-large;
                        font-family:Ubisoft Sans Bold, sans-serif ;
                        cursor: pointer;
                      }
                      .subt{
                        display: flex;
                        position: absolute;
                        top:120px;
                        left: 390px;
                      }
                      .subt li{
                        list-style: none;
                        
                        padding-left: 25px;
                        font-family:Ubisoft Sans Bold, sans-serif ;
                        font-weight: lighter;
                        color: deeppink;
                        cursor: pointer;
                      }
                      .leftbox1{
                        width: 47%;
                        height: 400px;
                        background-color: #00FFCB;
                        position: absolute;
                        top: 180px;
                        left: 50px;
                      }
                      .leftimg1 img{
                        width: 100%;
                        height: 400px;
                        cursor: pointer;
                      }
                      .leftdate1{
                        position: absolute;
                        font-size: small;
                        font-family:Ubisoft Sans Bold, sans-serif ;
                        bottom: 390px;
                        left: 50px;
                        list-style: none;
                      }
                      .lefthed1{
                        position: absolute;
                        font-size: small;
                        font-family:Ubisoft Sans Bold, sans-serif ;
                        bottom: 345px;
                        left: 50px;
                        list-style: none;
                        cursor: pointer;
                      }
                      .rightbox1{
                        width: 25%;
                        height: 200px;
                        background-color: #00FFCB;
                        position: absolute;
                        top: 180px;
                        right: 340px;
                      }
                      .rightdate1{
                        position: absolute;
                        font-size: small;
                        font-family:Ubisoft Sans Bold, sans-serif ;
                        top: 190px;
                        right: 200px;
                        list-style: none;
                      }
                      .righthed1{
                        position: absolute;
                        font-size: small;
                        font-family:Ubisoft Sans Bold, sans-serif ;
                        top: 200px;
                        right: 12px;
                        width: 20%;
                        line-height: 200%;
                        list-style: none;
                        cursor: pointer;
                      }
                      .rightimg1 img{
                        width: 100%;
                        height: 200px;
                        cursor: pointer;
                      }
                      .rightbox2{
                        width: 25%;
                        height: 200px;
                        background-color: #5406db;
                        position: absolute;
                        top: 420px;
                        right: 340px;
                      }
                      .rightdate2{
                        position: absolute;
                        font-size: small;
                        font-family:Ubisoft Sans Bold, sans-serif ;
                        top: 430px;
                        right: 200px;
                        list-style: none;
                      }
                      .righthed2{
                        position: absolute;
                        font-size: small;
                        font-family:Ubisoft Sans Bold, sans-serif ;
                        top: 440px;
                        right: 12px;
                        width: 20%;
                        line-height: 200%;
                        list-style: none;
                        cursor: pointer;
                      }
                      .rightimg2 img{
                        width: 100%;
                        height: 200px;
                        cursor: pointer;
                      }
                      .rightbox3{
                        width: 25%;
                        height: 200px;
                        background-color: #5406db;
                        position: absolute;
                        top: 660px;
                        right: 340px;
                      }
                      .rightdate3{
                        position: absolute;
                        font-size: small;
                        font-family:Ubisoft Sans Bold, sans-serif ;
                        top: 670px;
                        right: 200px;
                        list-style: none;
                      }
                      .righthed3{
                        position: absolute;
                        font-size: small;
                        font-family:Ubisoft Sans Bold, sans-serif ;
                        top: 680px;
                        right: 12px;
                        width: 20%;
                        line-height: 200%;
                        list-style: none;
                        cursor: pointer;
                      }
                      .rightimg3 img{
                        width: 100%;
                        height: 200px;
                        cursor: pointer;
                      }
                      .leftbox2{
                        width: 25%;
                        height: 200px;
                        background-color: #06201b;
                        position: absolute;
                        top: 660px;
                        left: 50px;
                        cursor: pointer;
                      }
                      .leftdate2{
                        position: absolute;
                        font-size: small;
                        font-family:Ubisoft Sans Bold, sans-serif ;
                        bottom: 315px;
                        left: 450px;
                        list-style: none;
                        
                      }
                      .lefthed2{
                        position: absolute;
                        font-size: small;
                        font-family:Ubisoft Sans Bold, sans-serif ;
                        bottom: 250px;
                        left: 450px;
                        width: 300px;
                        list-style: none;
                        cursor: pointer;
                      }
                      .leftimg2 img{
                        width: 100%;
                        height: 200px;
                        cursor: pointer;
                      }
                      .last{
                        width: 100%;
                        height: 300px;
                        background-color: #0b1833;
                        overflow: hidden;
                      }
                      .system{
                        position: absolute;
                        bottom: -2550px;
                        left: -620px;
                        transform: scale(25%);
                      }
                      .headf{
                        position: absolute;
                        left: 600px;
                        font-size: x-large;
                        font-family:Ubisoft Sans Bold, sans-serif ;
                        color: #ffffff;
                      }
                      .headf1{
                        
                        position: absolute;
                        left: 915px;
                        bottom: -2060px;
                        font-size: large;
                        line-height: 28px;
                        font-weight: normal;
                        font-family:Ubisoft Sans, sans-serif ;
                        color: #ffffff;
                      }
                      .join{
                        position: absolute;
                        left: 600px;
                        bottom: -2037px;
                        font-size: x-large;
                        line-height: 28px;
                        list-style: none;
                        font-weight: normal;
                        font-family:Ubisoft Sans, sans-serif ;
                        color: #ffffff;
                      }
                      .arrow{
                        position: relative;
                        left: 430px;
                        top: -15px;
                        transform: scale(.6);
                      }
                      .buttonf{
                        position: relative;
                        left: 600px;
                        bottom: -170px;
                        width: 13%;
                        height: 40px;
                        border-radius: 20px;
                        background-color: rgb(76, 49, 253);
                        font-size: xx-small;
                        
                        color: rgb(255, 254, 253);
                        font-family: Ubisoft Sans Bold, sans-serif;
                        cursor: pointer;

                      }.buttonf:hover{
                        background-color: #035d7e;
                        opacity: 100%;
                      }
                      .buttonf h1{
                        position: absolute;
                        left: 52px;
                        top: -1px;
                      }
                      .lborder{
                        width: 100%;
                        height: 50px;
                        background-color: #111111;
                      }
                      .bottomp{
                        width: 100%;
                        height: 400px;
                        background-color: #1c1c1c;
                        overflow: hidden;
                      }
                      .social{
                        display: flex;
                        transform: scale(.1);
                        position: relative;
                        left: -130px;
                        top: -155px;
                        cursor: pointer;
                      }
                      .social img{
                        padding-left: 300px;
                      }
                      .visit{
                        width: 30%;
                        position: relative;
                        top: -340px;
                      left: 50px;
                        color: #817f7f;
                        list-style: none;
                        font-family:Ubisoft Sans Bold, sans-serif ;
                        font-size: smaller;
                      }
                      .logo2{
                        transform: scale(.04);
                        position: relative;
                        top: -500px;
                        left: -670px;
                      }
                      
                      .sidetxt h2{
                        color: #fff;
                        position: relative;
                        top: -1020px;
                        left: 70px;
                        font-family: Ubisoft Sans Bold, sans-serif;
                        font-size: smaller;
                      }
                      .sidetxt li{
                        list-style: none;
                        position: relative;
                        top: -1010px;
                        left: 70px;
                        font-size: smaller;
                        line-height: 170%;
                        color:#817f7f;
                        font-family: Ubisoft Sans Bold, sans-serif;
                      }
                      .centertxt h2{
                        color: #fff;
                        position: relative;
                        top: -1150px;
                        left: 450px;
                        font-family: Ubisoft Sans Bold, sans-serif;
                        font-size: smaller;
                      }
                      .centertxt2 h2{
                        color: #fff;
                        position: relative;
                        top: -1205px;
                        left: 700px;
                        font-family: Ubisoft Sans Bold, sans-serif;
                        font-size: smaller;
                      }
                      .centertxt3 h2{
                        color: #fff;
                        position: relative;
                        top: -1260px;
                        left: 900px;
                        font-family: Ubisoft Sans Bold, sans-serif;
                        font-size: smaller;
                      }
                      .lang{
                        
                        position: relative;
                        top: -1700px;
                        left: 500px;
                        transform: scale(.06);
                      }
                      .bl{
                        color: #ffffff;
                        font-family: Ubisoft Sans Bold, sans-serif;
                        font-size: small;
                        position: absolute;
                        top: 2977px;
                        right: 175px;
                        
                      }
                      .esrb{
                        position: absolute;
                        top: 3080px;
                        right: 60px;
                      }
                      .credit{
                        width: 15%;
                        position: absolute;
                        top: 3220px;
                        right: 58px;
                        color: #fff;
                        font-family: Ubisoft Sans Bold, sans-serif;
                        list-style: none;
                        text-align: right;
                        font-size: x-small;
                      }
                      .larrow{
                        position: absolute;
                        top: 2960px;
                        right: 120px;
                        transform: scale(.2);

                      }